<h1>Hola Mundo</h1>
 <%= @tab_array %>
 <br>
<table border="1" tyle="width:100%">
<% @tab.each do |elem| %>   
	  <tr>
	  	<% elem.each do |e| %>
	    <td><%= e %></td>
	    <% end %>
	  </tr>	
<% end %>
</table>

<form method='post' action="/table">
	<label>Colum: </label>
	<input type="number" name="colum" min="1" max="5">
	<label>Row: </label>
	<input type="number" name="row" min="1" max="5">
	<input type="hidden" name="tab" value="<%= @tab_array %>" />
	<input type="submit" value ="generar">		
</form>
