<html>
<head>
	<script src="semantic/dist/semantic.min.js"></script>
	<script src="semantic/dist/components/dropdown.min.js"></script>
	<script src="semantic/examples/assets/library/jquery.min.js"></script>
	<script src="semantic/dist/semantic.min.js"></script>
	<link rel="stylesheet" href="Semantic/style.css">
	<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css" media="screen" title="no title" charset="utf-8">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
	<title>Bienvenido a Batalla Naval</title>

<head>
<body>
	<div class="ui basic padded segment">
		<h1 class="ui blue centered header" >
		  Batalla Naval
		</h1>
		<h2 class="ui teal centered header" >		 
		  Listo para la accion?
		</h2>		 
	</div>	
	<div class="ui center aligned basic padded segment">
		<img class="ui centered image" src="/images/bn.jpg">
	</div>	
	<a class="ui green button" href="/setshipsquantity" style="margin-left:47%"> Empezar </a>
</body>
</html>


