<h1>Batalla Naval</h1>
 <%= @valor1 %>
 <br>
 <%= @valor2 %>
 <br> 
 <br>

</table>
</br>
<form method='post' action="/table">
	<label>Columna: </label>
	<input type="number" name="colum" min="1" max="10">
	<label>Fila: </label>
	<input type="number" name="row" min="1" max="10">
	<input type="hidden" name="tb" value="<%= @valor3 %>" />
	<input type="submit" value ="table">
</form>
