<html>
<head>
	<script src="semantic/dist/semantic.min.js"></script>
	<script src="semantic/dist/components/dropdown.min.js"></script>
	<script src="semantic/examples/assets/library/jquery.min.js"></script>
	<script src="semantic/dist/semantic.min.js"></script>
	<link rel="stylesheet" href="Semantic/style.css">
	<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css" media="screen" title="no title" charset="utf-8">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
	<title>Bienvenido a Batalla Naval</title>

<head>
<body>
	<div class="ui basic segment">
		<h1 class="ui teal centered header" >
		 	Fase para colocar barcos ()
		</h1>
		<h1 class="ui blue centered header" >
		 <%if settings.game.returnTurn() == "j1" %>	
  			Turno para el jugador 1
  		<%else%>
  			Turno para el jugador 2
  		<%end%>
		</h1>	
						 
	</div>	
	<div class="ui center aligned basic segment">
	
		<div class="ui center aligned basic segment">
			
			<a class="ui green center floated inverted button" href="/table"> Seguir </a> </br></br>
			
			
		</div>
	</div>	
	
</body>
</html>
